# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DB_HOST: "127.0.0.1"
  DB_PORT: "5432"
  DB_USER: ${{ secret.DB_USER }}
  DB_PASSWORD: ${{ secret.DB_PASSWORD }}
  DB_NAME: ${{ secret.DB_NAME }}
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U ${{ env.DB_USER }} -d ${{ env.DB_NAME }}"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Wait for Postgre
      run: |
        sudo apt-get update && sudo apt-get install -y postgresql-client
        for i in {1..30}; do
          pg_isready -h ${{ env.DB_HOST }} -p ${{ env.DB_PORT }} -U ${{ env.DB_USER }} -d ${{ env.DB_NAME }} && break
          echo "Waiting for Postgres... ($i)"; sleep 2
        done

    - name: Go mod download
      run: go mod download
      
    - name: Build
      run: go build -v ./...

    - name: Test
      env:
          DB_HOST: ${{ env.DB_HOST }}
          DB_PORT: ${{ env.DB_PORT }}
          DB_USER: ${{ env.DB_USER }}
          DB_PASSWORD: ${{ env.DB_PASSWORD }}
          DB_NAME: ${{ env.DB_NAME }}
          
      run: go test ./tests -v -count=1
