name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DB_HOST: "127.0.0.1"
  DB_PORT: "5432"


jobs:
  build:
    runs-on: ${{ matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env: 
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.DB_NAME }}
        options: >-
          --health-cmd="pg_isready"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25'

    - name: Wait for Postgre
      run: |
        sudo apt-get update && sudo apt-get install -y postgresql-client
        for i in {1..30}; do
          pg_isready -h ${{ env.DB_HOST }} -p ${{ env.DB_PORT }} -U ${{ secrets.DB_USER }} -d ${{ secrets.DB_NAME }} && break
          echo "Waiting for Postgres... ($i)"; sleep 2
        done

    - name: Go mod download
      run: go mod download
      
    - name: Build
      run: go build -v ./...

    - name: Test
      env:
          DB_HOST: ${{ env.DB_HOST }}
          DB_PORT: ${{ env.DB_PORT }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_NAME: ${{ secrets.DB_NAME }}

      run: go test ./tests -v -count=1
